name: Build

on:
  push:
    branches: [master, main]
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  build:
    name: Run flutter test and analyze
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter environment
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: |
          find . -name "*.dart" \
          ! -name "*.g.dart" \
          ! -name "*.freezed.dart" \
          ! -name "app_localizations*.dart" \
          ! -path "*/gen/*" \
          ! -name "firebase_options*.dart" \
          | xargs dart format --output=none --set-exit-if-changed --line-length=100

      # Consider passing '--fatal-infos' for slightly stricter analysis.
      - name: Run flutter analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
